<h2>Product List</h2>
 <div class="d-flex mb-3">    
    <div class="p-2">
     <form class="d-flex" role="sort" method="POST" action="/invitem" novalidate>
       <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
          <button class="btn btn-outline-dark" type="submit">Search</button>
          </form>     
        </div> 

        <div class="p-2">
        <div class="btn-group ">
        <button class="btn btn-secondary dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
         Sort
        </button>
          <ul class="dropdown-menu">
             <form  method="POST" action="/invitem/itemid" novalidate>
            <li><button class="dropdown-item" href="/invitem/itemid" type="sort">Item ID</button></li>
            </form>
           <form  method="POST" action="/invitem/itemname" novalidate>
            <li><button class="dropdown-item" href="/invitem/itemname" type="sort">Item Name</button></li>
            </form>
            <form  method="POST" action="/invitem/category" novalidate>
            <li><button class="dropdown-item" href="/invitem/category">Category</button></li>
            </form>
            
          </ul>
         
        </div> 
        </div>
        
        
        <div class="ms-auto p-2">
        <a href="/additem" type="button" class="btn btn-primary ">Add New Item</a>
    </div>
    </div>
      
 
          


<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Item ID</th>
      <th scope="col">Item Name</th>
      <th scope="col">Item Category</th>
      <th scope="col">Brand</th>
      <th scope="col">Quantity</th>
      <th scope="col">Retail Price</th>
      <th scope="col">Date Added</th>
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
    <tr>
      <th scope="row">{{this.item_id}}</th>
      <td>{{this.item_name}}</td>
      <td>{{this.category_name}}</td>
      <td>{{this.brand_name}}</td>
      <td>{{this.quantity}}</td>
      <td>{{this.final_price}}</td>
      <td>{{this.datein}}</td>
      <td class="text-end">
        <a href="/viewiteminInv/{{this.item_id}}" type="button" class="btn btn-light btn small"><i class="bi bi-eye"></i>View</a>
        <a href="/edititem/{{this.item_id}}" type="button" class="btn btn-light btn small"><i class="bi bi-pencil"></i>Edit</a>
    
      </td>
   
    </tr>
  {{/each}}

  </tbody>
</table> 