
<div class="row">
  <div class="d-flex justify-content-end">
    <a href="/additem" type="button" class="btn btn-primary align-self-center">Add New Item</a>

  </div>
</div>


<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Item ID</th>
      <th scope="col">Item Code</th>
      <th scope="col">Item Name</th>
      <th scope="col">Item Category</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
      <th scope="col">Date</th>
      <th scope="col">Supplier</th>
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
    <tr>
      <th scope="row">{{this.item_id}}</th>
      <td>{{this.item_code}}</td>
      <td>{{this.item_name}}</td>
      <td>{{this.item_category}}</td>
      <td>{{this.quantity}}</td>
      <td>{{this.price}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.date}}</td>
      <td>{{this.supplier}}</td>

      <td class="text-end">
        <a href="/viewitem/{{this.item_id}}" type="button" class="btn btn-light btn small"><i class="bi bi-eye"></i>View</a>
        <a href="/edititem/{{this.item_id}}" type="button" class="btn btn-light btn small"><i class="bi bi-pencil"></i>Order</a>
    
      </td>
    </tr>
  {{/each}}

  </tbody>
</table> 