<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/EmployeePage">Back</a></li>
    <li class="breadcrumb-item active" aria-current="page">View Employee</li>
  </ol>
</nav>

<div class="view-user p-5">

{{#each rows}}
<div class="row mb-5">
  <div class="col text-center">
    <h3>{{this.emp_firstname}} {{this.emp_lastname}}</h3>
  </div>
</div>


 <div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Position</th>
            <th scope="col">Username</th>
            <th scope="col">Status</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{this.emp_id}}</th>
          <td>{{this.emp_firstname}}</td>
          <td>{{this.emp_lastname}}</td>
          <td>{{this.phone}}</td>
          <td>{{this.address}}</td>
          <td>{{this.position}}</td>
          <td>{{this.username}}</td>
          <td>{{this.status}}</td>
          
        </tr>
      </tbody>
    </table>
  </div>
 </div>

{{/each}}

</div>